@using WebApp.ContentManagement
@model WebApp.Models.TopicViewModel
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model.TopicItems)
{
    <div class="card m-2">
        <div class="card-body">
            @Html.Raw(Reader.ReadCard(item.FileName))
            <a href="@item.RelativePath" class="btn btn-primary stretched-link">Read more...</a>
        </div>
    </div>
}
