<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="~/" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        Home/Top Stories
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Business" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi bi-buildings"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        Business
                    </span>
                </a>
                <ul class="show nav flex-column ms-4" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="~/Business/Personal_Finance" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Personal finance
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Business/Investing" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Investing
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Politics" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-flag"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        Politics
                    </span>
                </a>
            </li>
            <li>
                <a href="~/Technology" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-laptop"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        Technology
                    </span>
                </a>
                <ul class="nav flex-column ms-4" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="~/Technology/Gadgets" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Gadgets
                        </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Technology/AI" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Artificial Intelligence
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Entertainment" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-megaphone"></i>
                    <span class="ms-1 d-none d-sm-inline">
                        Entertainment
                    </span>
                </a>
                <ul class="nav flex-column ms-4" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="~/Entertainment/Movies" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Movies and TV
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Entertainment/Music" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Music
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Entertainment/News" class="nav-link px-0">
                            <span class="d-none d-sm-inline">
                                Celebrity news
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
